body{
    background-color: #1E1E1E;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}


#genCode{
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}
.HostOrJoin{
    width: 500px;
    height: 160px;
    font-weight: bold;
    font-size: 20px;
    background-color: #383838;
    align-items: center;
}

#host{
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}

#join{
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}

#start{
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}
.players .pl1{
    color: #12F436;
}
.players .pl2{
    color: #20CAFF;
}
.players .pl3{
    color: #FB8F10;
}
.players .pl4{
    color: #DE13C9;
}
