body{
    background-color: #1E1E1E;
    text-align: center;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 16px;
}

h1{
    font-size: 36px;
}

h3{
    font-size: 30px;
}

img{
    width: 13svw;
    height: 25svh;
}

p{
    font-size: 24px;
}

#genCode{
    width: 250px;
    height: 60px;
    font-weight: bold;
    font-size: 20px;
}
#start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 10svh;
    width: 45svw;   
    background-color: #12F496;
    text-decoration: none;
    border-radius: 2%;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    color: white;
}
