body{
    background-color: #1E1E1E;
    text-align: center;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 30svh;
    width: 60svw;   
    background-color: #12F496;
    text-decoration: none;
}

a:visited, a:hover, a:focus, a:active {
    color: inherit; /* Ensure the color remains the same in all states */
    text-decoration: none; /* Ensure the underline is removed in all states */
}